body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color: #cfd8dc !important;
    background-attachment: fixed;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
   /* text-transform: uppercase;*/
    width: 100%;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size: 12px;
    margin: 0px;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position: left center;
        padding: 75px 0px 75px 170px;
        margin: -90px 0px 0px -198px;
    }
}

@keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

@media only screen and (max-width:400px) {
}

.header {
    color: #eceff1 !important;
    margin-left: 40%;
    margin-top: 4%;
    font-family: initial !important;
}

.sideMenu-logo {
    background-color: #546e7a;
}

    .sideMenu-logo img {
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 35%;
    }

#myNavbar {
    background-color: #cfd8dc;
}

.navbar navbar-inverse sidebarNavigation {
    background-color: #455a64 !important;
}

.navbar-header {
    background-color: #455a64 !important;
}

.navbar-inverse {
    border-color: #455a64 !important;
}

    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
        background-color: #546e7a !important;
    }

    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
        background-color: #78909c !important;
        height: 45px !important;
        padding-top: 12px !important;
        color: #eceff1 !important;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #263238 !important;
        font-family: initial !important;
    }

.text-center > img {
    margin-top: 25%;
}

.baslik {
    text-align: center;
    margin-top: 20% !important;
    margin-bottom: 5% !important;
}
/*araç listesi*/
.form-control {
    width: 70% !important;
    margin: 0% 15% 0% 15%
}
.table-responsive{
    width:90% !important;
    margin:0% 5% 0% 5%;
}
th{
    font-variant:small-caps !important;
    font-size:11px !important;
}
td{
    text-transform:uppercase !important;
    font-size:10px !important;
}
/*
button.navbar-toggle.user {
    margin-top: -30px;
    margin-right: 15px;
    margin-bottom: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    color: #eceff1 !important;
    position: relative;
    padding: 6px 14px;
    margin-right: 15px;
    margin-top: -37px;
    margin-bottom: 8px;
    background-color: transparent;
    border: 1px solid transparent; 
    border-radius: 4px;
}

    button.navbar-toggle.user collapsed {
        margin-top: -37px;
        margin-right: 15px;
        margin-bottom: 8px;
        padding: 6px 14px;
        color: #eceff1 !important;
        background-color: transparent;
        border-radius: 4px;
    }
    */

     #prf_button {
        color: #eceff1 !important;
        position: relative;
        padding: 6px 14px;
        margin-right: 15px;
        margin-top: -37px;
        margin-bottom: 8px;
        background-color: transparent;
        /* border: 1px solid transparent; */
        border-radius: 4px;
        border-color:#333 !important;
        float:right;
    }
    #prf_button:focus, #prf_button:hover {
        background-color: #546e7a !important
    }
    #prf_button:focus{
        outline:0;
    }
    #prf_button collapsed {
        margin-top: -37px;
        margin-right: 15px;
        margin-bottom: 8px;
        padding: 6px 14px;
        color: #eceff1 !important;
        background-color: transparent;
        border-radius: 4px;
        border-color:#333 !important;
        float:right;
        
    }
       
        #profile.collapse.in {
            float: right;
            margin-top: 0px;
            display: block !important;
            padding-top:0px;
            
        }
       
        #profile{
            width:100%;
            
        }
        #profile > ul {
            margin-left: -12%;
            background-color: #546e7a;
            padding: 0 0 0 5%;
            margin: 0 0 0 0;
        }
        
        #profile > ul > li {
            display: inline-block;
            
            font-family: initial !important;
        }
        #profile > ul > li > a {
            display: inline-block;
            color: #eceff1 !important;
            font-family: initial !important;
            text-transform:uppercase;
        }