body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color: #cfd8dc !important;
    background-attachment: fixed;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    /*  text-transform: uppercase;*/
    width: 100%;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size: 12px;
    margin: 0px;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position: left center;
        padding: 75px 0px 75px 170px;
        margin: -90px 0px 0px -198px;
    }
}

@keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

@media only screen and (max-width:400px) {
}

.header {
    color: #eceff1 !important;
    margin-left: 40%;
    margin-top: 4%;
    font-family: initial !important;
}

.sideMenu-logo {
    background-color: #546e7a;
}

    .sideMenu-logo img {
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 35%;
    }

#myNavbar {
    background-color: #cfd8dc;
}

.navbar navbar-inverse sidebarNavigation {
    background-color: #455a64 !important;
}

.navbar-header {
    background-color: #455a64 !important;
}

.navbar-inverse {
    border-color: #455a64 !important;
}

    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
        background-color: #546e7a !important;
    }

    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
        background-color: #78909c !important;
        height: 45px !important;
        padding-top: 12px !important;
        color: #eceff1 !important;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #263238 !important;
        font-family: initial !important;
    }

.panel-default > .panel-heading {
    background-color: #cfd8dc !important;
}

.panel-heading {
    border-bottom: 0px solid transparent !important;
}

.h5, h5 {
    text-align: center;
    font-weight: 600 !important;
}

.panel-body {
    padding: 10px !important;
    background-color: #cfd8dc !important;
}

.panel-default {
    margin-top: 5% !important;
}

.panel {
    border: 0 solid !important;
    box-shadow: 0 0 0 rgba(0,0,0,.05) !important;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px !important;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding: 0px !important;
}

.form-control {
    border-radius: 25px !important;
}

textarea.form-control {
    border-radius: 20px !important;
}

label {
    font-size: 13px !important;
}

strong, a, #guncelle, #ekle, #cikar, #getir {
    font-variant: small-caps;
}

#getir {
    width: 100% !important;
    color: #eceff1 !important;
}

#temizle, #kaydet,#guncelle {
    color: #fff !important;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    font-size: 13px;
}
.btn-danger {
    padding: 2px 10px;
    background-color: #009688 !important;
    border-color: #009688 !important;
    border-radius: 25px !important;
    width: 100% !important;
    color: #eceff1 !important;
}
.btn-success {
    padding: 2px 10px;
    background-color: #009688 !important;
    border-color: #009688 !important;
    border-radius: 25px !important;
    width:90% !important;
}

#ekle, #cikar {
    color: #fff !important;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    font-size: 13px;
}

.btn-primary {
    padding: 2px 10px;
    background-color: #d32f2f !important;
    border-color: #d32f2f !important;
    border-radius: 25px !important;
    width:90% !important;

}

#tabcontrol {
    color: #eceff1 !important;
    margin-bottom: 5% !important;
}

.nav-tabs {
    border-bottom: 1px solid #546e7a !important;
}

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        color: #eceff1 !important;
        background-color: #546e7a !important;
    }

a {
    color: #546e7a !important;
}

/*
button.navbar-toggle.user {
   margin-top: -30px;
    margin-right: 15px;
    margin-bottom: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    color: #eceff1 !important;
    position: relative;
    padding: 6px 14px;
    margin-right: 15px;
    margin-top: -37px;
    margin-bottom: 8px;
    background-color: transparent;
  border: 1px solid transparent; 
    border-radius: 4px;
}

    button.navbar-toggle.user collapsed {
        margin-top: -37px;
        margin-right: 15px;
        margin-bottom: 8px;
        padding: 6px 14px;
        color: #eceff1 !important;
        background-color: transparent;
        border-radius: 4px;
    }
    */

#prf_button {
    color: #eceff1 !important;
    position: relative;
    padding: 6px 14px;
    margin-right: 15px;
    margin-top: -37px;
    margin-bottom: 8px;
    background-color: transparent;
    /* border: 1px solid transparent; */
    border-radius: 4px;
    border-color: #333 !important;
    float: right;
}

    #prf_button:focus, #prf_button:hover {
        background-color: #546e7a !important
    }

    #prf_button:focus {
        outline: 0;
    }

    #prf_button collapsed {
        margin-top: -37px;
        margin-right: 15px;
        margin-bottom: 8px;
        padding: 6px 14px;
        color: #eceff1 !important;
        background-color: transparent;
        border-radius: 4px;
        border-color: #333 !important;
        float: right;
    }

#profile.collapse.in {
    float: right;
    margin-top: 0px;
    display: block !important;
    padding-top: 0px;
}

#profile {
    width: 100%;
}

    #profile > ul {
        margin-left: -12%;
        background-color: #546e7a;
        padding: 0 0 0 5%;
        margin: 0 0 0 0;
    }

        #profile > ul > li {
            display: inline-block;
            font-family: initial !important;
        }

            #profile > ul > li > a {
                display: inline-block;
                color: #eceff1 !important;
                font-family: initial !important;
                text-transform: uppercase;
            }


