* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html{
    height:100%;
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color: #bdbdbd !important;
    background-attachment: fixed;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    text-transform: uppercase;
    width: 100%;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size: 12px;
    padding: 15px;
    margin: 0px;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@media only screen and (max-width:400px){

 
}

.panel {
    margin-top: 20% !important;
    margin-bottom: 20% !important;
    background-color: #bdbdbd !important;
    border: 0 solid !important;
    box-shadow: 0 0 0 rgba(0,0,0,.05) !important;
}
.panel-default {
    border-color: #bdbdbd !important;
}
.text-center > img {
    padding-top: 10%;
}

.text-center > h3 {
    padding-top: 5%;
    padding-bottom: 35%;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn-group:not(:last-child) > .btn, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle)
{
    border-top-left-radius: 25px !important;
    border-bottom-left-radius: 25px !important;

}
.form-control {
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
}
.input-group {
    margin-bottom: 0;
}
.btn-success {
    background-color: #009688 !important;
    border-color: #009688 !important;
    border-radius: 25px !important;
    margin-bottom: 15px !important;
    outline: 0 !important;
    text-transform:uppercase !important;
}
.abutton:link, .abutton:hover, .abutton:active, .abutton:focus, .abutton:visited{
    text-decoration:none;
    color:#fff !important;
    text-transform:uppercase !important;
   
}
#ad.input-group{
    margin-bottom:5% !important;
}

a.sifre{
    float:left !important;
    color:#333 !important;
    font-size:14px;
    text-transform:uppercase;
}
a.kayit {
    float: right !important;
    color: #333 !important;
    font-size: 14px;
    text-transform: uppercase;
}
a.sifre:hover,a.sifre:focus,a.sifre:active,a.kayit:hover,a.kayit:focus,a.kayit:active{
    text-decoration:none;
}

/*
.acilis {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #263238;
    z-index: 999;
    bottom: 0;
    left: 0;
    right: 0;
    top:0;
}
*/